.wrapper{
    position: absolute;
    display: flex;
    width: 70%;
    top: 16%;
    margin-left:22%;
}
.side-bar-icons{
  margin-top: 45%;
}

.content-table{
    margin-left: 20%;
}

.orderStatus{
    margin-left: 2%;
}
.cards{
    margin-left: 22%;
}
.accept{
    display: inline-block;
    background: rgb(235, 137, 58);
    color: #fff;
    font-size: 1vw;
    border: 2px solid rgb(235, 137, 58);
    cursor: pointer;
    border-radius: 15px;
    padding: 5%;
    height: auto;
    width: auto;
    margin: 0 auto;
}

.accept:hover{
    background: #FFF;
    color: rgb(235, 137, 58);
    border: 2px solid rgb(235, 137, 58);
}

.reject{
    display: inline-block;
    background: #FFF;
    color: rgb(235, 137, 58);
    font-size: 1vw;
    border: 2px solid rgb(235, 137, 58);
    cursor: pointer;
    border-radius: 15px;
    padding: 5%;
    height: auto;
    width: auto;
    margin: 0 auto;
}

.reject:hover{
    background: rgb(235, 137, 58);
    color: #FFF;
    border: 2px solid rgb(235, 137, 58);
}