*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
  }

.navigation-table{
    margin-top: 60px;
    margin-left: 57.5%;
}
.navigation-table .fa-solid{
    width: 30px;
    height: 50px;
    color: #F8914A;
    cursor: pointer;
}

/*Top right corner buttons*/
.btn_complaint{
    display: flex;
    
}
.btn_complaint button{
    background: rgb(235, 137, 58);
    color: #FFFFFF;
    font-size: medium;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 15px;
    height: 55px;
    margin-top: 10px;
    margin-left: 1377px;
}