<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agents</title>
    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" href="agents.css">
</head>
<body>
    <div class="nav_bar">
        <div class="search-container">
            <table class="element-container">
              <tr>
                <td>
                  <input type="text" placeholder="Search..." class="search">
                </td>
                <td>
                  <a><i class="fa-solid fa-magnifying-glass"></i></a>
                </td>
              </tr>
            </table>
          </div>
        <div class="user-wrapper">
            <img src="man.png" width="50px" height="50px" alt="user image">
            <div>
                <h4>John Doe</h4>
                <small>Store Manager</small>
            </div>
        </div>
    </div>
    <div class="side_bar">
        <div class="logo">
            <img src="logosales.jpeg" width= "65%" height="55%">
        </div>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="stocks.php">Stocks</a></li>
            <li><a href="orders.html">Orders</a></li>
            <li class="active"><a href="agents.html">Agents</a></li>
            <li>
                <table class="side-bar-icons">
                    <tr>
                      <td><i class="fa-regular fa-circle-user"></i></td>
                      <td><a href="profile.html">Profile</a></td>
                    </tr>
                    <tr>
                      <td><i class="fa-solid fa-arrow-right-from-bracket"></i></i></td>
                      <td><a href="#">Log out</a></td>
                    </tr>
                  </table>
            </li>
        </ul>
    </div>

    <div class="search_wrapper1">
        <div class="search_container">
          <table class="element_container">
            <tr>
              <td>
                <input type="text" placeholder="Search Table..." class="search">
              </td>
              <td>
                <a><i class="fa-solid fa-magnifying-glass"></i></a>
              </td>
            </tr>
          </table>
        </div>
    </div>

    <!--Table-->
    <table class="content-table">
      <thead>
        <tr>
          <th>Agent Name</th>
          <th>Phone</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Agent 1</td>
          <td>0717648776</td>
          <td>40/A, Highlevel Rd, Delkanda</td>
        </tr>
        <tr>
          <td>Agent 2</td>
          <td>0773739428</td>
          <td>No:24, Highlevel Rd, Nugegoda</td>
        </tr>
        <tr>
          <td>Agent 3</td>
          <td>0763741837</td>
          <td>56/B, Highlevel Rd, Maharagama</td>
        </tr>
        <tr>
          <td>Agent 4</td>
          <td>0717374284</td>
          <td>No:56, Galle Rd, Rathmalana</td>
        </tr>
      </tbody>
    </table>

    <div class="navigation-table">
      <i class="fa-solid fa-circle-chevron-left fa-lg"></i>
      <i class="fa-solid fa-circle-chevron-right fa-lg"></i>
    </div>

    <script src="https://kit.fontawesome.com/ed71ee7a11.js" crossorigin="anonymous"></script>
</body>
</html>