.user-wrapper small{
    color:rgb(235, 137, 58);
}

div.side_bar ul li{
    padding-top: 8%;
    padding-bottom: 8%;
}

/*for all the icons' <i> tags of icons in the side bar, add --style="margin-right: 2%;"-- inline*/